.callout
  position: absolute
  top: 64px
  left: 0
  z-index: 5
  width: 100%
  padding: 5px 0
  +inter-reg
  font-size: 14px
  color: $grey0
  line-height: 1.3
  transition: 0.3s ease-in-out
  overflow: hidden
  &.closed
    animation: closeUp 0.3s ease-in-out 0s 1 normal forwards
    .callout__inner
      opacity: 0
      visibility: hidden
  &._green2
    background-color: $green2
  &._primary
    background-color: $primary
  &__inner
    position: relative
    padding-right: 30px
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    transition: 0.3s ease-in-out
  &-msg
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 10px
  &-close
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 3px
    justify-self: end
    cursor: pointer
    line-height: 0
  b
    +inter-semibold
  &-btn
    border-radius: 10px
    padding: 5px 10px

@keyframes closeUp
  100%
    height: 0
    padding: 0

@media ( max-width: 1024px )
  .callout
    top: 60px

@media ( max-width: 991px )
  .callout
    top: 56px
