.c
  padding-bottom: 40px
  &-ms
    position: relative
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 10px
    &-frame
      position: relative
    &-bg
      border-radius: 30px
      position: absolute
      z-index: 1
      top: 0
      left: 0
      object-fit: cover
      width: 100%
      height: 100%
      height: 624px
    &-backdrop
      position: absolute
      top: 0
      left: 0
      z-index: 2
      border-bottom-left-radius: 30px
      border-bottom-right-radius: 30px
      width: 100%
      height: 100%
      height: 624px
      background: linear-gradient(127.61deg, #1B1930 17.15%, rgba(27, 25, 48, 0) 71.76%)
    &__info
      grid-column: 1/2
      position: relative
      z-index: 2
      padding: 40px 0
      height: 624px
      display: flex
      flex-direction: column
    &__form
      position: sticky
      top: 80px
      &-track
        padding-top: 40px
        position: relative
        z-index: 2
        grid-column: 2/3
        grid-row: 1/3
    &__text
      grid-column: 1/2
    &-h
      margin-bottom: 12px
      display: flex
      align-items: center
      gap: 14px
      &-icon
        flex: 0 0 auto
    &-tag
      display: inline-flex
      align-items: center
      gap: 8px
      &-grid
        margin-bottom: 32px
        display: flex
        flex-direction: column
        flex-wrap: wrap
        gap: 12px 32px
      &-icon
        flex: 0 0 auto
        border-radius: 50%
        width: 28px
        height: 28px
        display: flex
        align-items: center
        justify-content: center
        background-color: $primary
        img, svg
          max-width: 100%
      &-label
        +inter-semibold
        font-size: 16px
        color: $grey0
    &-plate
      padding: 16px 24px
      border-top-left-radius: 30px
      border-bottom-right-radius: 30px
      background: linear-gradient(90deg, #3474EE 0%, rgba(0, 88, 255, 0) 116.18%)
      +inter-bold
      font-size: 20px
      color: $grey10
      &-grid
        margin-top: auto
        max-width: 240px
        display: flex
        flex-direction: column
        gap: 12px
  &-title
    margin: 0
    +stolzl-reg
    color: $grey0
  &-form
    border-radius: 24px
    border: 1px solid $grey10
    display: flex
    background-color: $grey0
    box-shadow: 0px 13px 67px rgba(83, 108, 131, 0.12)
    ._mt
      margin-top: 12px
    &__bar
      border-right: 1px solid $grey10
      flex: 0 1 50%
    &__sum
      flex: 0 1 50%
    &-block
      padding: 18px
      &:not(:last-child)
        border-bottom: 1px solid $grey10
      &-grid
        display: flex
        align-items: flex-start
        flex-direction: column
        gap: 16px
      &-grid2
        display: grid
        grid-template-columns: 1fr
        gap: 12px
    &-title
      margin-bottom: 16px
      +inter-semibold
      text-transform: uppercase
      font-size: 16px
      color: $grey70
    &-checkbox
      display: flex
      align-items: center
      gap: 12px
      cursor: pointer
      &-grid
        gap: 10px
      &-grid2
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 15px 20px
      &-label
        flex: 1 1 auto
        width: 100%
        +inter-semibold
        font-size: 14px
        color: $grey90
      &-grid
        .c-form-checkbox
          &:not(:last-child)
            margin-bottom: 10px
    &-plate
      border-radius: 4px
      padding: 4px 8px
      display: flex
      align-items: center
      justify-content: center
      +inter-semibold
      font-size: 14px
      &._rounded
        border-radius: 30px
      &._primary
        background-color: $light
        color: $primary
      &._orange
        background-color: $orange
        color: $grey0
    &-dr
      margin-bottom: 52px
      &-row
        margin-bottom: 22px
        display: flex
        &__sep
          align-self: end
          margin: 0 13px 25px
          flex: 0 0 auto
          border-radius: 4px
          width: 14px
          height: 2px
          background-color: $grey30
      &-field
        flex: 1 1 auto
        display: flex
        flex-direction: column
        justify-content: flex-end
      &-label
        margin-bottom: 4px
        +inter-semibold
        font-size: 14px
        color: $grey70
      &-input
        flex: 0 1 auto
        width: 100%
        border-radius: 8px
        border: 1px solid $grey10
        height: 50px
        +inter-reg
        padding: 0 20px
        color: $grey100
        &::placeholder
          color: $grey30
    &-promo
      display: flex
      flex-direction: column
      gap: 12px
      &-link
        margin: 10px 0
        display: flex
        align-items: center
        gap: 8px
        +stolzl-med
        font-size: 16px
        color: $primary
        cursor: pointer
      &-input
        position: relative
        &::after
          content: ''
          position: absolute
          top: 50%
          transform: translateY(-50%)
          right: 18px
          display: block
          width: 20px
          height: 20px
          background: url(../assets/static/icon-arrow-right-grey.svg) no-repeat
          background-size: 100%
          cursor: pointer
        .form-input
          padding: 0 45px 0 24px
    &-sum
      padding: 32px 24px
      &-b
        display: grid
        grid-template-columns: 1fr
        gap: 20px
      &-value
        margin-bottom: 10px
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 15px
        +stolzl-med
        font-size: 34px
        color: $grey100
        .oldvalue
          font-size: 20px
          color: $grey40
          text-decoration: line-through
      &-h
        margin-bottom: 8px
        &-sub
          display: flex
          align-items: center
          gap: 8px
          &-text
            +inter-semibold
            text-transform: uppercase
            font-size: 14px
            color: $grey50
      &-amount
        display: flex
        flex-direction: column
        gap: 20px
        &-value
          +inter-semibold
          font-size: 14px
          color: $grey70
          .range-value
            color: $grey100
      &-checkbox
        display: flex
        align-items: center
        gap: 8px
        &._bordered
          border-top: 1px solid $grey10
          padding-top: 14px
        &-label
          +inter-semibold
          font-size: 14px
          color: $grey90
          .sub
            +inter-reg
            color: $grey60
      &-pays
        border-bottom: 1px solid $grey10
        padding-bottom: 17px
        img, svg
          width: 100%
          max-width: 100%
      &-f
        padding-top: 16px
        &-row
          margin-bottom: 20px
          display: flex
          align-items: center
          justify-content: space-between
        &-subtitle
          +inter-reg
          font-size: 14px
          color: $grey20
        &-title
          +stolzl-med
          color: $grey90
        &-btn
          margin-top: 10px
          border-radius: 20px
          width: 100%
          height: 40px
          padding: 0 20px
          +inter-semibold
          font-size: 14px
      &-btn
        border-radius: 30px
        height: 40px
        padding: 0 20px
        gap: 8px
        +inter-semibold
        font-size: 14px
    &-bnr
      position: relative
      border-radius: 13px
      display: flex
      background: linear-gradient(90deg, #5096FF 5.26%, #5227FF 47.06%)
      &._type1
        overflow: hidden
        .coin
          &-1
            position: absolute
            top: 6px
            right: 4px
            width: 54px
            z-index: 1
          &-2
            position: absolute
            bottom: 0
            right: 0
            width: 93px
            z-index: 1
        .c-form-bnr
          &-subtitle
            color: $grey20
          &-title
            color: $grey0
      &__inner
        position: relative
        z-index: 2
        width: 70%
        padding: 18px 0 18px 20px
        display: flex
        align-items: flex-start
        flex-direction: column
        justify-content: space-between
      &-subtitle
        margin-bottom: 4px
        +inter-semibold
        font-size: 12px
      &-title
        margin-bottom: auto
        +stolzl-med
        font-size: 20px
    &-btn
      &-submit
        border-radius: 30px
        width: 100%
        height: 54px
        gap: 10px
        +inter-semibold
        font-size: 16px
        transition: 0.2s
        &__wrapper
          &._out
            display: none
        &__plate
          display: none
          border-radius: 20px
          padding: 4px 8px
          background-color: rgba($light, 0.2)
          +inter-semibold
          font-size: 14px
          color: $five
  &-info
    margin-top: 40px
  &-h2
    margin: 0
    margin-bottom: 24px
    +stolzl-med
    color: $grey100
    &.h2
      +stolzl-med
  &-list
    margin-bottom: 40px
    &-item
      margin-bottom: 24px
      display: flex
      align-items: flex-start
      gap: 12px
      &:last-child
        margin-bottom: 0
    &-sign
      flex: 0 0 auto
      border-radius: 8px
      width: 26px
      height: 26px
      display: flex
      align-items: center
      justify-content: center
      +inter-semibold
      font-size: 16px
      &._primary
        background-color: rgba($primary, 0.2)
        color: $primary
      &._green
        background-color: rgba($green, 0.4)
        svg
          max-width: 12px
          fill: $green
      &._danger
        background-color: rgba($danger, 0.4)
        svg
          max-width: 12px
          fill: $danger
    &-text
      +inter-med
      font-size: 18px
      line-height: 28px
      color: $grey90
      a
        +inter-bold
        color: $primary
  &__pc
    margin-bottom: 50px

@media ( max-width: 1200px )
  .c
    &-form
      display: block
      &__bar
        border-right: none
      &-block
        padding: 24px
        &-grid
          flex-direction: row
          align-items: center
        &-grid2
          display: grid
          grid-template-columns: auto min-content
          grid-template-rows: auto
          align-items: center
          gap: 10px
          .c-form-title
            margin: 0
          ._days
            grid-column: 2/3
            grid-row: 1/2
          ._time
            grid-column: 1/3
            width: auto
      &-sum
        border-top: 1px solid $grey10
        padding: 16px 25px
        &-b
          gap: 14px
        &-h
          margin-bottom: 0
        &-amount
          display: flex
          flex-direction: row
          justify-content: space-between
          &-range
            flex: 0 1 50%
        &-checkbox
          justify-content: center
          align-items: flex-start
          &._bordered
            padding: 16px 0
            border-bottom: 1px solid $grey10
          &-label
            text-align: center
        &-pays
          margin: 0 24px
          padding-bottom: 20px
        &-f
          padding: 16px 24px 0
      &-btn-submit
        margin: 0 auto
        width: 90%

@media ( max-width: 1024px )
  .c
    padding-bottom: 50px
    &-ms
      &__inner
        position: relative
        padding: 50px 30px
        height: 100%
      &__info
        width: 100%
        display: flex
        flex-direction: column
        height: 100%
      &__form
        top: 140px
      &-tag
        &-grid
          flex-direction: column
          align-items: flex-start
      &-plate
        &-grid
          margin-top: auto
    &-form
      &-bnr
        &-title
          font-size: 24px
      &-sum
        &-value
          font-size: 28px
    &-h2
      margin-bottom: 20px
    &__pc
      margin-bottom: 25px

@media ( max-width: 991px )
  .c
    &-list
      margin-bottom: 32px
      &-text
        font-size: 15px

@media ( max-width: 768px )
  .c
    padding-bottom: 32px
    &-ms
      gap: 0
      &-frame
        margin-bottom: 22px
      &-bg
        border-top-left-radius: 0px
        border-top-right-radius: 0px
        height: 630px
      &-backdrop
        height: 630px
      &__inner
        padding: 15px 0
        display: block
      &__info
        padding-bottom: 18px
        grid-column: 1/3
        grid-row: 1/2
        height: auto
      &__form
        position: relative
        top: 0
        &-track
          padding-top: 0
          grid-column: 1/3
          grid-row: 2/3
      &__text
        grid-column: 1/3
        grid-row: 3/4
      &-h
        margin-bottom: 16px
        &-icon
          display: none
      &-tag
        &-grid
          margin-bottom: 30px
        &-icon
          width: 23px
          height: 23px
          img, svg
            max-width: 60%
        &-label
          font-size: 14px
      &-plate
        flex: 1 1 48%
        padding: 12px 0
        text-align: center
        font-size: 14px
        &-grid
          max-width: 100%
          flex-direction: row
          flex-wrap: wrap
    &-form
      &-title
        font-size: 14px
      &-block
        padding: 16px
        &-grid
          flex-direction: column
          align-items: flex-start
        &-grid2
          grid-template-columns: 1fr
          gap: 12px
          ._days
            grid-column: auto
            grid-row: auto
          ._time
            grid-column: auto
      &-checkbox
        &-label
          font-size: 14px
      &-dr
        &-label
          font-size: 12px
        &-input
          height: 40px
          font-size: 14px
      &-promo
        margin: 16px 0
      &-sum
        border-top: none
        padding: 0 16px 0
        &-b
          display: block
        &-h
          margin: 16px 0
          padding: 0
        &-value
          font-size: 24px
          gap: 10px
          .oldvalue
            font-size: 16px
        &-amount
          margin: 16px 0
          border: none
          padding: 0
          flex-direction: column
        &-checkbox
          &._bordered
            border: none
        &-pays
          margin: 0
          padding: 12px 0 20px
        &-f
          padding: 13px 0
      &-btn-submit
        max-width: 325px
        width: 100%
        z-index: 2
        &__wrapper
          position: fixed
          left: 0
          bottom: 0
          width: 100%
          height: 124px
          display: flex
          justify-content: center
          z-index: 5
          &._in
            display: none
          &._out
            display: flex
          &::after
            content: ''
            position: absolute
            z-index: 1
            bottom: 0
            left: 0
            width: 100%
            height: 1px
            box-shadow: 0px 0px 40px 100px #FFFFFF
        &__plate
          display: block
      &-bnr
        &-title
          font-size: 20px
    &-info
      margin-top: 32px
      width: 100%
